<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <rewrite>
      <rules>
          <rule name="rewrite everything to /public">
            <match url="^/public/(.*)$" ignoreCase="true" negate="true" />
            <action type="Rewrite" url="/public{REQUEST_URI}" />
        </rule>
        <rule name="route all requests to non-existing files through index.php" stopProcessing="true">
          <match url=".*" ignoreCase="true" />
           <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="/public/index.php" />
        </rule>
      </rules>
    </rewrite> 
    </system.webServer>
</configuration>